.parentlock
lock
saved-telemetry-pings/
AlternateServices.txt
Telemetry.FailedProfileLocks.txt
notificationstore.json
SiteSecurityServiceState.txt
addonStartup.json.lz4
addons.json
cert9.db
compatibility.ini
containers.json
content-prefs.sqlite
cookies.sqlite
cookies.sqlite-shm
cookies.sqlite-wal
crashes/
datareporting/
enumerate_devices.txt
extension-preferences.json
extension-settings.json
extensions.json
extensions/
favicons.sqlite
favicons.sqlite-shm
favicons.sqlite-wal
formhistory.sqlite
handlers.json
key4.db
parent.lock
permissions.sqlite
pkcs11.txt
places.sqlite
places.sqlite-shm
places.sqlite-wal
prefs.js
prefsjs-backups/
protections.sqlite
search.json.mozlz4
serviceworker.txt
sessionCheckpoints.json
sessionstore-backups/
settings/
shader-cache/
shield-preference-experiments.json
storage.sqlite
storage/
targeting.snapshot.json
times.json
user.js
userjs-backups/
weave/
webappsstore.sqlite
xulstore.json
gmp-gmpopenh264/
sessionstore.jsonlz4
storage-sync-v2.sqlite
storage-sync-v2.sqlite-shm
storage-sync-v2.sqlite-wal
ClientAuthRememberList.txt
bookmarkbackups/
broadcast-listeners.json
cert_override.txt
security_state/
